In [1]:
import yfinance as yf

token = 'BTC-USD'
# start_date = '2015-01-01'

data = yf.download(token, interval='1d')
data.to_csv(f'{token}.csv')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2024-12-13,100046.648438,101888.804688,99233.281250,101459.257812,101459.257812,56894751583
2024-12-14,101451.437500,102618.882812,100634.054688,101372.968750,101372.968750,40422968793
2024-12-15,101373.531250,105047.539062,101227.031250,104298.695312,104298.695312,51145914137
2024-12-16,104293.578125,107780.578125,103322.984375,106029.718750,106029.718750,91020417816
2024-12-17,106052.015625,108239.414062,105817.351562,107183.734375,107183.734375,72961941504

In [2]:
import pandas as pd 

data = pd.read_csv(f'{token}.csv', parse_dates=['Date'], index_col=['Date'])
data.drop(['Adj Close', 'Open', 'High', 'Low', 'Volume'], axis=1, inplace=True)
data

                    Close
Date
2014-09-17     457.334015
2014-09-18     424.440002
2014-09-19     394.795990
2014-09-20     408.903992
2014-09-21     398.821014
...                   ...
2024-12-13  101459.257812
2024-12-14  101372.968750
2024-12-15  104298.695312
2024-12-16  106029.718750
2024-12-17  107183.734375

[3745 rows x 1 columns]

In [3]:
import ta

data['sma'] = ta.trend.sma_indicator(data['Close'], window=30)
data['ema20'] = ta.trend.ema_indicator(data['Close'], window=20)
data['ema50'] = ta.trend.ema_indicator(data['Close'], window=50)
data['ema200'] = ta.trend.ema_indicator(data['Close'], window=200)


# Añadir RSI
data['rsi'] = ta.momentum.rsi(data['Close'], window=14)

# Añadir MACD
macd = ta.trend.MACD(data['Close'], window_slow=26, window_fast=12, window_sign=9)
data['macd'] = macd.macd()
data['macd_signal'] = macd.macd_signal()

#Precio Futuro
data['Close_future'] = data['Close'].shift(-1)
# Dirección del Movimiento de Precio
data['Price_Up'] = (data['Close_future'] > data['Close']).astype(int)


#Boramos datos nulos
data.dropna(inplace=True)

data.to_csv('BTC-Indicators.csv',index=['Date'])
data = pd.read_csv('BTC-Indicators.csv', parse_dates=['Date'], index_col=['Date'])
data

,Close,sma,ema20,ema50,ema200,rsi,macd,macd_signal,Close_future,Price_Up
Date,,,,,,,,,,
2015-04-04,253.697006,266.058734,255.661524,258.734938,307.338692,47.508324,-4.193133,-3.906538,260.597992,1
2015-04-05,260.597992,265.654567,256.131663,258.807999,306.873610,52.432292,-3.252122,-3.775655,255.492004,0
2015-04-06,255.492004,264.962268,256.070744,258.677960,306.362350,48.785829,-2.885117,-3.597547,253.179993,0
2015-04-07,253.179993,264.256468,255.795434,258.462354,305.833173,47.185618,-2.749132,-3.427864,245.022003,0
2015-04-08,245.022003,262.770301,254.769393,257.935281,305.228086,41.956153,-3.262042,-3.394700,243.675995,0
...,...,...,...,...,...,...,...,...,...,...
2024-12-12,100043.000000,95711.704687,96622.993102,88474.185367,71606.585559,60.775607,3382.945703,3915.653792,101459.257812,1
2024-12-13,101459.257812,96074.207812,97083.589741,88983.403894,71903.627074,62.898526,3378.370898,3808.197213,101372.968750,0
2024-12-14,101372.968750,96544.959115,97492.102028,89469.269183,72196.854355,62.675951,3329.403238,3712.438418,104298.695312,1
2024-12-15,104298.695312,96986.048698,98140.349007,90050.815306,72516.275658,66.946781,3486.487637,3667.248262,106029.718750,1
2024-12-16,106029.718750,97501.756771,98891.717554,90677.438970,72849.742753,69.192878,3707.914747,3675.381559,107183.734375,1

In [6]:
features = ['Close', 'sma', 'ema20', 'ema50', 'ema200', 'rsi', 'macd', 'macd_signal']
target = ['Price_Up']
# Separar X e y
X = data[features]
y = data[target]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, shuffle= False)

ValueError: With n_samples=0, test_size=0.01 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)